// COLORS
$primary-color: #3066be;
$secondary-color: #b4c5e4;

$white-color: #fbfff1; 

$dark-grey: #333333; // Footer
$light-grey: #b8b8b8; // Scroll bar

$dark-blue-text: #000441; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
